In [11]:
# ! pip show duckdb pandas
# ! pip install duckdb pandas

In [12]:
# import duckdb
# import pandas as pd

# # 创建内存中的 DuckDB 实例，也可以保存为文件
# con = duckdb.connect(database=':memory:')  # 或使用 'mimiciv.duckdb' 做持久化

In [13]:
import duckdb
import pandas as pd

# 创建或连接持久化 DuckDB 文件（将被保存）
con = duckdb.connect('mimiciv.duckdb')

In [14]:
base_path = '/public/home/aojiang/mimic/'

# hosp 表
con.execute(f"""
CREATE VIEW patients AS
SELECT * FROM read_csv_auto('{base_path}hosp/patients.csv');
""")

con.execute(f"""
CREATE VIEW admissions AS
SELECT * FROM read_csv_auto('{base_path}hosp/admissions.csv');
""")

con.execute(f"""
CREATE VIEW diagnoses_icd AS
SELECT * FROM read_csv_auto('{base_path}hosp/diagnoses_icd.csv');
""")

con.execute(f"""
CREATE VIEW prescriptions AS
SELECT * FROM read_csv_auto('{base_path}hosp/prescriptions.csv');
""")

con.execute(f"""
CREATE VIEW procedures_icd AS
SELECT * FROM read_csv_auto('{base_path}hosp/procedures_icd.csv');
""")

# icu 表
con.execute(f"""
CREATE VIEW icustays AS
SELECT * FROM read_csv_auto('{base_path}icu/icustays.csv');
""")

con.execute(f"""
CREATE VIEW labevents AS
SELECT * FROM read_csv_auto('{base_path}hosp/labevents.csv');
""")

con.execute(f"""
CREATE VIEW chartevents AS
SELECT * FROM read_csv_auto('{base_path}icu/chartevents.csv');
""")

In [15]:
con.execute("SHOW TABLES").df()

             name
0      admissions
1     chartevents
2   diagnoses_icd
3        icustays
4       labevents
5        patients
6   prescriptions
7  procedures_icd

In [16]:
# 显示前 5 行 ICU stays 数据
con.execute("SELECT * FROM icustays LIMIT 5").df()

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10000032,29079034,39553978,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2180-07-23 14:00:00,2180-07-23 23:50:47,0.410266
1,10000690,25860671,37081114,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2150-11-02 19:37:00,2150-11-06 17:03:17,3.893252
2,10000980,26913865,39765666,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2189-06-27 08:42:00,2189-06-27 20:38:27,0.497535
3,10001217,24597018,37067082,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-11-20 19:18:02,2157-11-21 22:08:00,1.118032
4,10001217,27703517,34592300,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-12-19 15:42:24,2157-12-20 14:27:41,0.948113

In [17]:
# 查看 patients 中字段
con.execute("DESCRIBE patients").df()

         column_name column_type null   key default extra
0         subject_id      BIGINT  YES  None    None  None
1             gender     VARCHAR  YES  None    None  None
2         anchor_age      BIGINT  YES  None    None  None
3        anchor_year      BIGINT  YES  None    None  None
4  anchor_year_group     VARCHAR  YES  None    None  None
5                dod        DATE  YES  None    None  None

In [18]:
# # 查看各表行数
# for tbl in ['patients', 'admissions', 'diagnoses_icd', 'icustays', 'labevents', 'chartevents']:
#     print(f"{tbl}: ", con.execute(f"SELECT COUNT(*) FROM {tbl}").fetchone()[0])

patients:  364627
admissions:  546028

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

diagnoses_icd:  6364488
icustays:  94458

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

labevents:  158374764

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

chartevents:  432997491